* {
  border: solid black 0px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

nav {
  width: auto;
  height: 50%;
  padding: 0px 20px;
  border-bottom: solid #ef626c 3px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: end;
}
li a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.active {
  color: #ef626c;
  font-size: 3rem;
  font-weight: bold;
}

header {
  height: 10vh;
  margin: 4rem 4rem 2rem 4rem;
  border-bottom: solid #ef626c 3px;
}

.header_index {
  height: 20vh !important;
  border-bottom: none;
}

main {
  height: fit-content;
  margin: 6rem 4rem 4rem 4rem;
}

.bg_image {
  background-image: url(./images/main_bg.png);
  background-size: cover;
  background-position: center;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.placeform {
  margin: 4rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  margin-bottom: 4px;
}

select {
  width: fit-content;
  padding: 5px 10px;
  border: black 2px solid;
  border-radius: 5px;
  margin-bottom: 40px;
}

input {
  width: 30vw;
  padding: 5px 10px;
  border: black 2px solid;
  border-radius: 5px;
  margin-bottom: 40px;
}

button {
  cursor: pointer;
  width: fit-content;
  padding: 5px 10px;
  background: none;
  border: #ef626c 2px solid;
  border-radius: 5px;
  color: #ef626c;
}

.header_liste {
  display: flex;
}

.header_liste a {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  align-items: end;
  text-decoration: none;
  color: black;
  font-size: larger;
}

table * {
  padding: 5px 10px;
}

td {
  border-right: 2px solid #ef626c;
}

td:last-child {
  border-right: none;
}

th {
  border-right: 2px solid #ef626c;
  border-bottom: #ef626c 2px dotted;
}

th:last-child {
  border-right: none;
}

.div_left {
  height: 100%;
}

.date_right {
  width: 50%;
  background-image: url(./images/date.jpg);
  background-size: cover;
  border-radius: 20px;
}

.place_right {
  width: 50%;
  background-image: url(./images/ort.jpg);
  background-size: cover;
  border-radius: 20px;
}

.activity_right {
  width: 50%;
  background-image: url(./images/activity.jpg);
  background-size: cover;
  border-radius: 20px;
}

.main_add {
  display: flex;
  justify-content: space-between;
}
