* {
  border: solid black 1px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  cursor: pointer;
}

nav {
  width: auto;
  padding: 0px 20px;
  border-bottom: solid #ef626c 3px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: end;
}
li a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.active {
  color: #ef626c;
  font-size: 3rem;
  font-weight: bold;
}

header {
  height: 20vh;
  margin: 4rem 4rem 2rem 4rem;
}

main {
  height: 80vh;
  margin: 0 4rem;
}

.bg_image {
  background-image: url(./images/main_bg.png);
  background-size: cover;
  background-position: center;
  margin: 0;
}

.placeform {
  margin: 4rem 4rem 2rem 4rem;
}

.header_liste {
  display: flex;
}

.header_liste a {
  margin-left: 4rem;
  display: flex;
  align-items: end;
}
